
html {background-color: white}

 *{
	 padding:0;
	 margin:0;
	 box-sizing: border-box;
 }
 
 ::selection{
	 
 }
 

 
 body{
	 font-family: "Eras ITC", sans-serif;
 }
 a{
	text-decoration: none;
 }
 ul{
	 list-style: none;
 }
 main{
	 position: relative;
	 width:100%;
	 min-height: 750px;
	 height: 100vh; 
	 overflow: hidden;
	 padding: 1.5rem 3rem;
	 display:flex;
	 flex-direction: column;
	 justify-content: space-between;
	 background-image: url("images/background10.png");
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center center;
	 padding-bottom:10vh;
 }
 
.menu{
	display: flex;
	min-height: 100vh;
	width: 100%;
	padding: 1.5rem 3rem;
	flex-direction: column;
	justify-content: space-between;
}

.default{
	top: 0;
	flex-grow:1;
}
 
 nav{
	 display: grid;
	 grid-template-columns: 1fr auto 1fr;
 }
 nav ul{
	 display:flex;
	 align-items: center;
	 justify-items: center;
 }
 .navLink a{
	 display:inline-block;
	 padding:2rem;
	 color: black;
	 font-weight: 400;
	 font-size: 1.4rem;
	 transition: 0.3s;
 }
 
 .navLink a i {
	 transform: translateY(2px);
	 margin-left: 0.2rem;
 }
 
 .navLink a:hover {
	 color: gray;
 }
 
 .imageWrap{
	 position: absolute;
	 width:0rem;
	 max-width: 1000px;
	 height: 0px;
	 bottom: 52%;
	 left: 50%;
	 transform: translateX(-50%) translateY(50%);
	 background-image: url(images/favicon.png);
	 background-size: 100%;
	 background-position: 50% 58%;
	 background-repeat: no-repeat;
 }
 
 .bigName {
	 position: relative;
	 z-index: 1;
	 padding-right: 2rem;
	 padding-left: 2rem;
	 Color: black;
	 font-size: 7.5rem;
	 font-weight: 1000;
	 text-align: center;
	 line-height: 1;
	 bottom: -50px;
 }
 
 .bottomSection{
	 display: flex;
	 justify-content: space-between;
	 align-items:center;
	 bottom:50px;
 }
 .bottomSection p {
	 color: black;
	 font-weight: 300;
	 display: flex;
	 align-items: center;
 }
 
 .bottomSection p i {
	 color: black;
	 font-weight: 300;
	 margin-right: 1rem;
 }
 
 .bottomSection p a {
	 color: black;
	 font-weight: 300;
 }
 
 .socials{
	 display: flex;
	 
 }
 
 .socials a{
	 margin-left: 0.8rem;
	 color: black;
	 transition: 0.3s;
	 
 }
 
 .socials a:hover{
	 color: gray;
 }
 
 .scroll{
	 position:absolute;
	 color: black;
	 font-weight: 500;
	 left: 50%;
	 transform: translateX(-50%);
	 bottom: 15%;
	 height: 30px;
 }
 
 .line{
	 position: absolute;
	 width: 1px;
	 height: %;
	 left: 50%;
	 transform: translate(-50%);
	 bottom:0;
	 background-image : linear-gradient(to top, black, gray);
 }
 
 
 .lineBottom{
	 position: absolute;
	 width: 1px;
	 height: 200px;
	 left: 50%;
	 transform: translate(-50%);
	 background-color: black;
 }

@media (max-width: 1150px) {
	.imageWrap{
		bottom: 55%;
	}
	.navLink a{
		font-size: 3rem;
	}
}



 .content{
	 display: flex;
	 flex-direction: column;
	 padding: 0rem 0rem;
	 background-color:;
	 justify-content: space-between;
	 width:100%;
	 align-items:center;
	 overflow:hidden;
 }
 .titaniumPin{
	 display:flex;
	 flex-direction:column;
	 width:100%;
	 min-height:100vh;
 }
 
.titaniumHeading{
	display:flex;
	justify-content:space-around;
	color:white;
	width:100%;
	padding:0 0;
}
.titaniumHeading h1{
	font-size:18rem;
	z-index:5;
	line-height:16.5rem;
}
@media (max-width: 1534px) {
	.titaniumHeading h1{
	font-size:15rem;
	line-height:13.5rem;
}
}
@media (max-width: 1280px) {
	.titaniumHeading h1{
	font-size:12rem;
	line-height:12rem;
}
}
.titaniumContent{
	display:flex;
	width:100%;
	flex-grow:1;
	align-items:center;
	justify-content:space-around;
}
.titaniumImageContainer{
	position:relative;
	width:60%;
	overflow:hidden;
	
}
.titaniumImage{
	width:100%;
}

.titaniumIntro{
	flex-grow:1;
	color:white;
	margin:auto;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.titaniumIntro h1{
	font-size:7vw;
}
.titaniumIntro h2{
	font-size:5vw;
}
.titaniumIntro h3{
	font-size:3vw;
}
.titaniumIntro h4{
	font-size:2.5vw;
}
.titaniumIntro p{
	font-size:1.5vw;
}
.introLine1{
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:80%;
}
.introline2{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
@media (max-width: 1150px) {
	.titaniumContent{
		flex-wrap:wrap;
	}
	.titaniumImageContainer{
		width:100%;
		min-height:;
	}
	.titaniumIntro{
		padding:0 5rem;
	}
	.titaniumIntro h1{
	font-size:9rem;
}
.titaniumIntro h2{
	font-size:6rem;
}
.titaniumIntro h3{
	font-size:4rem;
}
.titaniumIntro h4{
	font-size:3rem;
}
.titaniumIntro p{
	font-size:2rem;
}
}
.titaniumHead{
	 min-width:100%;
	 color:white;
	 font-size: 5rem;
	 text-align:center;
	 width:1000px;
	 padding-top: 1.2rem;
}
 
 .titaniumText{
	 display:flex;
	 flex-direction:column;
	 justify-content:space-around;
	 min-width:100%;
	 margin:auto;
	 color:silver;
	 font-size: 2.5rem;
	 text-align:center;
	 width:1000px;
	 height:180px;
 }
 .titaniumText a{
	 color: white;
	 text-decoration: underline;
 }
 
 .disciplineHead{
	 min-width:100%;
	 color:white;
	 font-size: 5rem;
	 text-align:center;
	 width:1000px;
	 padding-top: 1.2rem;
}
 
 .disciplineText{
	 min-width:100%;
	 color:silver;
	 font-size: 2.5rem;
	 text-align:center;
	 width:1000px;
	 height:180px;
 }
 .disciplineText a{
	 color: white;
	 text-decoration: underline;
 }
 .framesHead{
	 min-width:100%;
	 color:white;
	 font-size: 5rem;
	 text-align:center;
	 width:1000px;
	 padding-top: 1.2rem;
}
 
 .framesText{
	 min-width:100%;
	 color:silver;
	 font-size: 2.5rem;
	 text-align:center;
	 width:1000px;
	 height:180px;
 }
 .framesText a{
	 color: white;
	 text-decoration: underline;
 }
 
 .frame1{
	 display:flex;
	 width:100%;
	 max-width:1300px;
	 height:300px;
	 align-items:center;
	 justify-content:center;
 }

  .frame1Text{
	 text-align:center;
	 color:white;
	 font-size:2rem;
	 z-index:1;
 }

 .frame2{
	 display:flex;
	 width:100%;
	 max-width:1300px;
	 height:300px;
	 align-items:center;
	 justify-content:center;
 }

  .frame2Text{
	 
	 text-align:center;
	 color:white;
	 font-size:2rem;
	 z-index:1;
 }
 


 .TiXC{
	 position:relative;
	 display:flex;
	 width:100%;
	 max-width:1300px;
	 padding: 0 5rem;
 }
 .TiXCText{
	 position:absolute;
	 top:20%;
	 color:white;
	 font-size: 2vw;
	 left:6rem;
	 width:%;
	 z-index:1;

 }
 .TiXCText2{
	 position:absolute;
	 bottom:20%;
	 right:6rem;
	 text-align:right;
	 color:white;
	 font-size: 2vw;
	 width:30%;
	 z-index:1;
 }
 .TiXCText h3{
	 font-size: 5vw;
	 color:white;
 }
 .TiXCText p{
	 background-color:;
	 color:white;
 }
 .TiXCText2 a{
	 background-color:;
	 color:white;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }.TiXCText2 a:hover{
	 background-color: white;
	 color:black;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }
 .TiXCImage{
	 position:relative;
	 width:100%;
	 left:%;
	 transform:;
	 z-index:0;
 }

 
 
 
 .TiGr{
	 position:relative;
	 display:flex;
	 width:100%;
	 max-width:1300px;
	 padding: 0 5rem;
 }
 .TiGrText{
	 position:absolute;
	 top:20%;
	 color:white;
	 left:6rem;
	 font-size: 2vw;
	 width:;
	 z-index:1;
	
 }
 .TiGrText2{
	 position:absolute;
	 bottom:20%;
	 right:6rem;
	 text-align:right;
	 color:white;
	 font-size: 2vw;
	 width:30%;
	 z-index:1;
	 
 }
 .TiGrText h3{
	 font-size:5vw;
	 color:white;
 }
 .TiGrText p{
	 background-color:;
	 color:white;
 }
 .TiGrText2 a{
	 background-color:;
	 color:white;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }
 .TiGrText2 a:hover{
	 background-color: white;
	 color:black;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }
 .TiGrImage{
	 position:relative;
	 width:100%;
	 transform:;
	 z-index:0;
	 
 }
 .TiGrImage:hover{
	 position:relative;
	 width:100%;
	 transform:;
	 z-index:0;
 }
 
 
 .TiCX{
	 position:relative;
	 display:flex;
	 width:100%;
	 max-width:1300px;
	 padding: 0 5rem;
 }
 .TiCXText{
	 position:absolute;
	 top:20%;
	 color:white;
	 left:6rem;
	 font-size: 2vw;
	 width:%;
	 z-index:1;
 }
 .TiCXText2{
	 position:absolute;
	 bottom:20%;
	 right:6rem;
	 text-align:right;
	 color:white;
	 font-size: 2vw;
	 width:30%;
	 z-index:1;
 }
 .TiCXText h3{
	 font-size:5vw;
	 color:white;
 }
 .TiCXText p{
	 background-color:;
	 color:white;
 }
 .TiCXText2 a{
	 background-color:;
	 color:white;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }
 .TiCXText2 a:hover{
	 background-color: white;
	 color:black;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }
 .TiCXImage{
	 position:relative;
	 width:100%;
	 transform:;
	 z-index:0;
 }
 
 .invLogo{
	 width:130px;
 }
 
 
 
