


 *{
	 padding:0;
	 margin:0;
	 box-sizing: border-box;
 }
 
 ::selection{
	 
 }
 

 
 body{
	 font-family: "Eras ITC", sans-serif;
 }
 a{
	text-decoration: none;
 }
 ul{
	 list-style: none;
 }
 main{
	 position: relative;
	 width:100%;
	 min-height: 750px;
	 height: 100vh; 
	 overflow: hidden;
	 padding: 1.5rem 3rem;
	 display:flex;
	 flex-direction: column;
	 justify-content: space-between;
	 background-image: url("images/mainBackground8.png");
	 background-size: cover;
	 background-position: center center;
 }
 
.menu{
	display: flex;
	min-height: 100vh;
	width: 100%;
	padding: 1.5rem 3rem;
	flex-direction: column;
	justify-content: space-between;
}

.default{
	top: 0;
	flex-grow:1;
}
 
 nav{
	 display: grid;
	 grid-template-columns: 1fr auto 1fr;
 }
 nav ul{
	 display:flex;
	 align-items: center;
	 justify-items: center;
 }
 .navLink a{
	 display:inline-block;
	 padding:2rem;
	 color: black;
	 font-weight: 400;
	 font-size: 1.4rem;
	 transition: 0.3s;
 }
 
 .navLink a i {
	 transform: translateY(2px);
	 margin-left: 0.2rem;
 }
 
 .navLink a:hover {
	 color: gray;
 }
 
 .imageWrap{
	 position: absolute;
	 width:0rem;
	 max-width: 1000px;
	 height: 0px;
	 bottom: 50%;
	 left: 50%;
	 transform: translateX(-50%) translateY(50%);
	 background-image: url(images/favicon.png);
	 background-size: 100%;
	 background-position: 50% 58%;
	 background-repeat: no-repeat;
 }
 
 .bigName {
	 position: relative;
	 z-index: 1;
	 padding-right: 2rem;
	 padding-left: 2rem;
	 Color: black;
	 font-size: 7.5rem;
	 font-weight: 1000;
	 text-align: center;
	 line-height: 1;
	 bottom: -50px;
 }
 
 .bottomSection{
	 display: flex;
	 justify-content: space-between;
	 align-items:center;
 }
 .bottomSection p {
	 color: black;
	 font-weight: 300;
	 display: flex;
	 align-items: center;
 }
 
 .bottomSection p i {
	 color: black;
	 font-weight: 300;
	 margin-right: 1rem;
 }
 
 .bottomSection p a {
	 color: black;
	 font-weight: 300;
 }
 
 .socials{
	 display: flex;
	 
 }
 
 .socials a{
	 margin-left: 0.8rem;
	 color: black;
	 transition: 0.3s;
	 
 }
 
 .socials a:hover{
	 color: gray;
 }
 
 .scroll{
	 position:absolute;
	 color: black;
	 font-weight: 500;
	 left: 50%;
	 transform: translateX(-50%);
	 bottom: 15%;
	 height: 30px;
 }
 
 .line{
	 position: absolute;
	 width: 1px;
	 height: %;
	 left: 50%;
	 transform: translate(-50%);
	 bottom:0;
	 background-image : linear-gradient(to top, black, gray);
 }
 
 
 .lineBottom{
	 position: absolute;
	 width: 1px;
	 height: 200px;
	 left: 50%;
	 transform: translate(-50%);
	 background-color: black;
 }
 .road{
	 height:;
	 background-image: url("images/roadBottom.png");
	 background-size: cover;
	 background-position: center center;
 }
 .content{
	 display: flex;
	 flex-direction: column;
	 padding: 0rem 0rem;
	 background-color:white;
	 justify-content: space-between;
	 width:100%;
	 align-items:center;
	 overflow:hidden;
 }
 .containerTitanium{
	 display:flex;
	 max-width:1200px;
	 width: 100%;
	 height:800px;
	 justify-content:space-around;
 }

 .containerTitanium1{
	 max-width:600px;
	 width: 100%;
	 height:800px;
	 transform: translateY(150px) translateX(100px);
	 z-index:1;
 }
.titaniumImage{
	transform: translateX(-600px);
	z-index:0;
}
.titanium1{
	 text-align:center;
	 font-size: 8rem;
	 color:white;
	 width:100%;

 }
.titaniumText1{
	 min-width:100%;
	 color:white;
	 font-size: 1.8rem;
	 text-align:center;
	 padding-top: 1.2rem;
 }
.titaniumText1 a{
	 color: white;
	 text-decoration: underline;
 }

 .titanium{
	 text-align:center;
	 font-size: 7rem;
	 color:white;
	 width:80%;
	 

 }
 .titaniumText{
	 min-width:100%;
	 color:silver;
	 font-size: 2.3rem;
	 text-align:center;
	 width:1000px;
	 height:200px;
	 padding-top: 1.2rem;
 }
 .titaniumText a{
	 color: white;
	 text-decoration: underline;
 }
 .invLogo{
	 width:130px;
 }

 


 .TiXC{
	 position:relative;
	 display:flex;
	 width:100%;
	 max-width:1300px;
	 padding: 0 5rem;
 }
 .TiXCText{
	 position:absolute;
	 top:20%;
	 color:white;
	 font-size: 2.5rem;
	 width:30%;
	 z-index:1;
	 -webkit-text-stroke: 1px black;
 }
 .TiXCText2{
	 position:absolute;
	 bottom:20%;
	 right:6rem;
	 text-align:right;
	 color:white;
	 font-size: 2.5rem;
	 width:30%;
	 z-index:1;
	 -webkit-text-stroke: 1px black;
 }
 .TiXCText h3{
	 font-size:6rem;
	 color:white;
 }
 .TiXCText p{
	 background-color:;
	 color:white;
 }
 .TiXCText2 a{
	 background-color:;
	 color:white;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }.TiXCText2 a:hover{
	 background-color: white;
	 color:black;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }
 .TiXCImage{
	 position:relative;
	 width:90%;
	 left:10%;
	 transform:;
	 z-index:0;
 }
 
 
 
 .TiGr{
	 position:relative;
	 display:flex;
	 width:100%;
	 max-width:1300px;
	 padding: 0 5rem;
 }
 .TiGrText{
	 position:absolute;
	 top:20%;
	 color:white;
	 font-size: 2.5rem;
	 width:30%;
	 z-index:1;
	 -webkit-text-stroke: 1px black;
 }
 .TiGrText2{
	 position:absolute;
	 bottom:20%;
	 right:6rem;
	 text-align:right;
	 color:white;
	 font-size: 2.5rem;
	 width:30%;
	 z-index:1;
	 -webkit-text-stroke: 1px black;
 }
 .TiGrText h3{
	 font-size:6rem;
	 color:white;
 }
 .TiGrText p{
	 background-color:;
	 color:white;
 }
 .TiGrText2 a{
	 background-color:;
	 color:white;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }
 .TiGrText2 a:hover{
	 background-color: white;
	 color:black;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }
 .TiGrImage{
	 position:relative;
	 width:100%;
	 transform:;
	 z-index:0;
 }
 
 
 .TiCX{
	 position:relative;
	 display:flex;
	 width:100%;
	 max-width:1300px;
	 padding: 0 5rem;
 }
 .TiCXText{
	 position:absolute;
	 top:20%;
	 right:6rem;
	 text-align:right;
	 color:white;
	 font-size: 2.5rem;
	 width:30%;
	 z-index:1;
	 -webkit-text-stroke: 1px black;
 }
 .TiCXText2{
	 position:absolute;
	 bottom:20%;
	 
	 text-align:left;
	 color:white;
	 font-size: 2.5rem;
	 width:30%;
	 z-index:1;
	 -webkit-text-stroke: 1px black;
 }
 .TiCXText h3{
	 font-size:6rem;
	 color:white;
 }
 .TiCXText p{
	 background-color:;
	 color:white;
 }
 .TiCXText2 a{
	 background-color:;
	 color:white;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }
 .TiCXText2 a:hover{
	 background-color: white;
	 color:black;
	 outline: 2px solid white;
	 outline-offset: 5px;
 }
 .TiCXImage{
	 position:relative;
	 width:100%;
	 transform:;
	 z-index:0;
 }
 
 
 
 
 
